.k1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.k2{
    border-radius: 20px;
    width: 40%;
    background-color: rgb(255, 0, 0);
    padding:40px ;
    border-style: solid;
    border-color: rgb(250, 244, 245);
    
}
input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}